.about-wrapper {
  .about-shop-container {
    display: flex;
  }
  .block-item {
    flex: 1;
    background: #1abfa4;
    border-radius: 5px;
    padding: 17px 0px 20px;
    position: relative;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}