.footer {
  background: #06080f;
  width:100%;
  float: left;
  padding:60px 0 0;

  .footer-columns {
    padding:0 0 40px;

    .footer-ad-banner {
      text-align: center;
      margin: 0 0 35px;
    }

    .footer-column {
      padding: 35px 0 0;

      h4 {
        margin: 0 0 40px;
        font-size: 16px;
        color: #ff851d;
      }
    }

    .logo-column {
      padding:0 !important;

      p {
        color: #b5b5b5;
      }

      a {
        margin:0 0 30px;
      }
    }

    .address-list {
      li {
        margin: 0 0 15px;
        color: #b5b5b5;

        i {
          height: 30px;
          line-height: 30px;
          width:30px;
          text-align: center;
          border-radius: 100%;
          background: #0c0f17;
          margin:0 10px 0 0;
          color: #ff851d;
        }
      }
    }

    .footer-links {
      li {
        position: relative;
        margin: 0 0 20px;
        padding: 0 0 0 15px;

        &::before {
          content: "\f105";
          font-family: fontawesome;
          position: absolute;
          top:0;
          left:0;
          color: #b5b5b5;
        }

        &:hover {
          padding: 0 0 0 30px;

          a {
            color: #ff851d;
          }
        }

        a {
          color: #b5b5b5;
          text-transform: uppercase;
        }
      }
    }

    .newsletter {
      p {
        color: #b5b5b5;
        margin: 0 0 20px;
      }

      .newsletter-input {
        position: relative;
        margin:0 0 30px;

        i{
          width: 48px;
          height:48px;
          line-height: 48px;
          position: absolute;
          left:0;
          font-size: 16px;
          color: #b5b5b5;
          text-align: center;
          border-right: 1px solid rgba(255,255,255,.1);
        }

        input {
          border:1px solid rgba(255, 255, 255, .1);
          color: #b5b5b5;
          padding: 0 60px;
        }

        button {
          position: absolute;
          right:0;
          height:47px;
          padding: 0 20px;
          border: 0;
          color: #fff;
          top:1px;
        }
      }
    }
  }

  .sub-footer {
    background: #0a0f19;
    padding:10px 0;

    p {
      color: #b5b5b5;
      font-size: 12px;
      margin: 0;
    }

    .theme-color {
      color: #ff851d;
    }

    .back-top {
      color: #b5b5b5;
      font-size: 12px;
      float: right;

      &:hover {
        color: #ff851d;
      }

      i {
        width:25px;
        height: 25px;
        line-height:25px;
        text-align: center;
        border-radius: 100%;
        background: #080b14;
        margin:0 0 0 10px;
        color: #ff851d;
      }
    }
  }
}
